/* CSS HEX */
--air-force-blue: #628395ff;
--dusty-taupe: #96897bff;
--vanilla-custard: #dfd5a5ff;
--sunlit-clay: #dbad6aff;
--light-bronze: #cf995fff;

/* CSS HSL */
--air-force-blue: hsla(201, 21%, 48%, 1);
--dusty-taupe: hsla(31, 11%, 54%, 1);
--vanilla-custard: hsla(50, 48%, 76%, 1);
--sunlit-clay: hsla(36, 61%, 64%, 1);
--light-bronze: hsla(31, 54%, 59%, 1);

/* SCSS HEX */
$air-force-blue: #628395ff;
$dusty-taupe: #96897bff;
$vanilla-custard: #dfd5a5ff;
$sunlit-clay: #dbad6aff;
$light-bronze: #cf995fff;

/* SCSS HSL */
$air-force-blue: hsla(201, 21%, 48%, 1);
$dusty-taupe: hsla(31, 11%, 54%, 1);
$vanilla-custard: hsla(50, 48%, 76%, 1);
$sunlit-clay: hsla(36, 61%, 64%, 1);
$light-bronze: hsla(31, 54%, 59%, 1);

/* SCSS RGB */
$air-force-blue: rgba(98, 131, 149, 1);
$dusty-taupe: rgba(150, 137, 123, 1);
$vanilla-custard: rgba(223, 213, 165, 1);
$sunlit-clay: rgba(219, 173, 106, 1);
$light-bronze: rgba(207, 153, 95, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #628395ff, #96897bff, #dfd5a5ff, #dbad6aff, #cf995fff);
$gradient-right: linear-gradient(90deg, #628395ff, #96897bff, #dfd5a5ff, #dbad6aff, #cf995fff);
$gradient-bottom: linear-gradient(180deg, #628395ff, #96897bff, #dfd5a5ff, #dbad6aff, #cf995fff);
$gradient-left: linear-gradient(270deg, #628395ff, #96897bff, #dfd5a5ff, #dbad6aff, #cf995fff);
$gradient-top-right: linear-gradient(45deg, #628395ff, #96897bff, #dfd5a5ff, #dbad6aff, #cf995fff);
$gradient-bottom-right: linear-gradient(135deg, #628395ff, #96897bff, #dfd5a5ff, #dbad6aff, #cf995fff);
$gradient-top-left: linear-gradient(225deg, #628395ff, #96897bff, #dfd5a5ff, #dbad6aff, #cf995fff);
$gradient-bottom-left: linear-gradient(315deg, #628395ff, #96897bff, #dfd5a5ff, #dbad6aff, #cf995fff);
$gradient-radial: radial-gradient(#628395ff, #96897bff, #dfd5a5ff, #dbad6aff, #cf995fff);